
.Logo {
    grid-area: logo;
    height: 70px;
}

.NavLozinka {
    min-height: 60px;
    background-color: #ff6146;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: right;
}
.NavLozinka a {
    color: white!important;
    font-family:MyFont ;
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
}
.NavLozinka a:hover {
    transform: scale(1.1);
}
.NavLozinka button {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    background-color: yellowgreen;
    box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
}

.NavLozinka button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
}



@media (max-width: 700px) {

    .NavLozinka {

        min-height: 80px;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: none;
        grid-row-gap: 20px;
        background-color: #ff6146;
        padding: 30px 0 30px;

    }

}

.NavAnimation-enter {
    opacity: 0;
    transform: scale(0.5);
}
.NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
    opacity: 1;
}
.NavAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
}