.AppNewPassword {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.AppNewPassword-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-items: flex-start;
    padding-top: 3vh;
    justify-content: center;

}


@media (min-width: 800px){
    .TextNewPass{
        margin-bottom: 0;
    }
    .CardBodyNewPass{
        margin-top: 20px;
    }
}

@media (max-width: 800px ) {
    .TextNewPass{
        margin-bottom: 2vh;
    }

    .AppNewPassword {
        background-position: center center;
    }

    .AppNewPassword-content {

        justify-content: center;
    }
    .CardBodyNewPass{
        width: 100%!important;
    }

    .mailInput{
        width:100%!important;
    }
}

.CardNewPass{
    border-radius: 50px!important;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
    font-weight: bold;
}

.CardTitleGenerator{
    font-family: MyFont;
    font-size: 4vh;
    color: #ffd11e;
}

.CardBodyNewPass{
    font-size: 3vh;
    width: 100%;
}

.mailInput{
    width: 40%;
    margin: 0 auto;
    float: none;
}

.btnSend{
    width: 20vh!important;
    font-size: 3vh!important;
    font-weight: bold!important;
    margin: 0 auto;
    float: none;
    margin-top: 2vh;
}


.inputField{
    font-size: 2vh!important;
    height: 5vh!important;
}


