.limiter {
    width: 100%;
    margin: 0 auto;
}
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

}


.wrap-login100 {
    width: 40%;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.login100-form {
    padding: 5%;
    width: 100%;
}

.login100-form-title {
    font-family: SignikaSemibold;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
}

span + span {
    margin-left: 100px;
}

.elements {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Button{
    justify-content: center;
    margin-bottom:10px;
    font-size: 3vw;
}

.newButton{
    height: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.sendButton{
    width: 20vm;
    margin: 10px;
}

.registerButton{
    width: 15vm;
    margin: 10px;
}


.AppSignIn {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.AppSignIn-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-items: flex-start;
    padding-top: 3vh;
    justify-content: center;

}


@media (min-width: 800px){
    .CardBodyAppSignIn{
        margin-top: 20px;
    }

    .tooltipAppSignIn{
        width: 40%;
    }

    .popoverContent{
        width: 100%;
    }

    .link{
        color: white;
        font-size: 2vh;
    }
}

@media (max-width: 800px ) {

    .link{
        color: white;
        font-size: 1.5vh;
    }
    .AppSignIn {
        background-position: center center;
    }

    .AppSignIn-content {

        justify-content: center;
    }

    .CardTitleAppSignIn{
        font-size: 3vh!important;
    }
    .CardBodyAppSignIn{
        width: 100%!important;
    }

    .passwordInputAppSignIn{
        width:80%!important;
    }
    .progressBar{
        width:100%!important;
    }
    .listGroupSignIn{
        width:100%!important;
    }
}

.CardAppSignIn{
    border-radius: 50px!important;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
    font-weight: bold;
}

.CardTitleAppSignIn{
    font-family: MyFont;
    font-size: 4vh;
    color: #ffd11e;
}

.CardBodyAppSignIn{
    font-size: 3vh;
    width: 100%;
}

.passwordInputAppSignIn{
    width: 40%;
    margin: 0 auto;
    float: none;
}

.AppSignInQuitButton{
    width: 20vh!important;
    font-size: 2vh!important;
    font-weight: bold!important;
    margin: 10px;
    color: white!important;
    border-color: black!important;
}

.AppSignInButtons{
    margin: 0 auto;
    float: none;
    background-color: #ff6146!important;
    width: 20vh!important;
    font-size: 2vh!important;
    font-weight: bold!important;
    margin: 10px;
    color: white!important;
    border-color: black!important;
}
.inputGroupAppSignIn{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.alertInput{
    margin-top: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
}

.listGroupSignIn{
    width:40%;
    margin: 0 auto;
    float: none;
}
