.App {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.App-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;

}

@media (max-width: 650px ) {
    .App {
        background-position: center center;
    }

    .App-content {

        justify-content: center;
    }
}

.Carousel{
    background-color: #7bc7ff;
    border-radius: 50px;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70vh;
}

.CarItem{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.CarDesign{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btnHomePage{
    width: 20vh;
    height: 5vh;
    margin-right: 5px;
    font-weight: bold!important;
    font-size: 2vh!important;
    text-align: center!important;
}

.CardAbout{
    background-color: #7bc7ff!important;
    border-radius: 50px!important;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.cardTitle{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logoImg{
    margin-top: 10px;
    border-radius: 25px;
    width: 70%;
}

.Logo-App{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.logoImgInfo{
    margin-top: 10px;
    border-radius: 25px;
    width: 50%;
}

