.AppGenerator {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.AppGenerator-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-items: flex-start;
    padding-top: 3vh;
    justify-content: center;

}


@media (min-width: 800px){
    .TextGenerator{
        margin-bottom: 0;
    }
    .CardBodyGenerator{
        margin-top: 20px;
    }
    .CardBodyGeneratorNewPassword{
        font-size: 5vh;
    }
    .CardGeneratorNewPassword{
        width: 50%;
    }
}

@media (max-width: 800px ) {
    .TextGenerator{
        margin-bottom: 2vh;
    }
    .CardGeneratorNewPassword{
        width: 70%;
    }
    .CardBodyGeneratorNewPassword{
        font-size: 3vh;
    }
    .AppGenerator {
        background-position: center center;
    }

    .AppGenerator-content {

        justify-content: center;
    }
    .CardBodyGenerator{
        width: 100%!important;
    }

    .passwordInput{
        width:100%!important;
    }
    .progressBar{
        width:100%!important;
    }
    .listGroup{
        width:100%!important;
    }
}

.CardGenerator{
    border-radius: 50px!important;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
    font-weight: bold;
}

.CardTitleGenerator{
    font-family: MyFont;
    font-size: 4vh;
    color: #ffd11e;
}

.CardBodyGenerator{
    font-size: 3vh;
    width: 100%;
}

.passwordInput{
    width: 40%;
    margin: 0 auto;
    float: none;
}

.btnSendGenerator{
    width: 20vh!important;
    font-size: 3vh!important;
    font-weight: bold!important;
    margin: 0 auto;
    float: none;
    margin-top: 2vh;
}

.SwitchButtonGenerator{
    margin: 0 auto;
    float: none;
}

.CardGeneratorNewPassword{
    background-color: #16c13a!important;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-bottom: 3vh;
}

.CardBodyGeneratorNewPassword{
    margin: 0 auto;
    float: none;
}

.CardHeaderGeneratorNewPassword{
    font-size: 3vh;
    margin: 0 auto;
    float: none;
}

.inputField{
    font-size: 2vh!important;
    height: 5vh!important;
}


.alertInputGenerator{
    margin-top: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
}