.AppQuiz {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.AppQuiz-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-items: flex-start;
    padding-top: 3vh;
    justify-content: center;

}


@media (min-width: 800px){
    .TextQuiz{
        margin-bottom: 2vh;
    }
    .CardBodyQuiz{
        margin-top: 20px;
    }

}

@media (max-width: 800px ) {
    .TextQuiz{
        margin-bottom: 2vh;
    }

    .AppQuiz {
        background-position: center center;
    }

    .AppQuiz-content {

        justify-content: center;
    }
    .CardBodyQuiz{
        width: 100%!important;
    }

    .passwordInput{
        width:100%!important;
    }
}

.CardQuiz{
    border-radius: 50px!important;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
    font-weight: bold;
}

.CardTitleQuiz{
    font-family: MyFont;
    font-size: 4vh;
    color: #ffd11e;
}

.CardBodyQuiz{
    font-size: 3vh;
    width: 100%;
}

.passwordInput{
    width: 40%;
    margin: 0 auto;
    float: none;

}

.inputGroupQuiz{
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.inputField{
    font-size: 2vh!important;
    height: 5vh!important;
}

.inputFieldTimer{
    font-size: 4vh!important;
    height: 7vh!important;
    text-align: center!important;
}


.quizQuitButton{
    width: 20vh!important;
    font-size: 3vh!important;
    font-weight: bold!important;
    margin: 10px;
    color: white!important;
    border-color: black!important;
}

.quizButtons{
    margin: 0 auto;
    float: none;
    margin-top: 2vh;
    background-color: #ff6146!important;
    width: 20vh!important;
    font-size: 3vh!important;
    font-weight: bold!important;
    margin: 10px;
    color: white!important;
    border-color: black!important;
}

.quizButtons:hover {background-color: orange!important;}

.quizAttempt{
    margin: 0 auto;
    float: none;
    margin-top: 2vh;
    background-color: #ff6146!important;
    width: 20vh!important;
    font-size: 2vh!important;
    font-weight: bold!important;
    margin: 10px;
    color: white!important;
    border-color: black!important;
}

