.AppTester {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.AppTester-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-items: flex-start;
    padding-top: 3vh;
    justify-content: center;

}


@media (min-width: 800px){
    .CardBodyTester{
        margin-top: 50px;
    }
}

@media (max-width: 800px ) {
    .AppTester {
        background-position: center center;
    }

    .AppTester-content {

        justify-content: center;
    }
    .CardBodyTester{
        width: 100%!important;
      }

    .passwordInput{
        width:100%!important;
    }
    .progressBar{
        width:100%!important;
    }
    .listGroup{
        width:100%!important;
    }
}

.CardTester{
    border-radius: 50px!important;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
    font-weight: bold;
}

.CardTitle{
    font-family: MyFont;
    font-size: 4vh;
    color: #ffd11e;
}

.CardBodyTester{
    font-size: 2vh;
    width: 100%;
}

.passwordInput{
    width: 40%;
    margin: 0 auto;
    float: none;
}

.progressBar{
    height: 3vh!important;
    width:40%;
    margin: 0 auto;
    margin-bottom: 5px;
    float: none;
}

.listGroup{
    width:40%;
    margin: 0 auto;
    float: none;
}

.inputField{
    font-size: 2vh!important;
    height: 5vh!important;
}