
.AppUserProfile {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.AppUserProfile-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-items: flex-start;
    padding-top: 3vh;
    justify-content: center;

}


@media (min-width: 800px){
    .CardBodyAppUserProfile{
        margin-top: 20px;
    }

    .tooltipAppUserProfile{
        width: 40%;
    }

    .popoverContent{
        width: 100%;
    }

    .link{
        color: white;
        font-size: 2vh;
    }
}

@media (max-width: 800px ) {

    .link{
        color: white;
        font-size: 1.5vh;
    }
    .AppUserProfile {
        background-position: center center;
    }

    .AppUserProfile-content {

        justify-content: center;
    }

    .CardTitleAppUserProfile{
        font-size: 3vh!important;
    }
    .CardBodyAppUserProfile{
        width: 100%!important;
    }

    .passwordInputAppUserProfile{
        width:80%!important;
    }
    .progressBar{
        width:100%!important;
    }
    .listGroupAppUserProfile{
        width:100%!important;
    }
}

.CardAppUserProfile{
    border-radius: 50px!important;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
    font-weight: bold;
}

.CardTitleAppUserProfile{
    font-family: MyFont;
    font-size: 4vh;
    color: #ffd11e;
}

.CardBodyAppUserProfile{
    font-size: 3vh;
    width: 100%;
}

.passwordInputAppUserProfile{
    width: 40%;
    margin: 0 auto;
    float: none;
}

.AppUserProfileQuitButton{
    width: 20vh!important;
    font-size: 2vh!important;
    font-weight: bold!important;
    margin: 10px;
    color: white!important;
    border-color: black!important;
}

.AppUserProfileButtons{
    margin: 0 auto;
    float: none;
    background-color: #ff6146!important;
    width: 20vh!important;
    font-size: 2vh!important;
    font-weight: bold!important;
    margin: 10px;
    color: white!important;
    border-color: black!important;
}
.inputGroupAppUserProfile{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.alertInput{
    margin-top: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
}

.listGroupAppUserProfile{
    width:40%;
    margin: 0 auto;
    float: none;
}
